<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<!--<li><a href="/resume/Lakshmi Venkatasubramanian_resume.pdf">Resume</a>-->
        		<li><a href="/project">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:lakshmi2688@gmail.com">email</a></li>
        		<li><a href="https://github.com/lakshmi2688">github.com/lakshmi2688</a></li>
			</ul>
		</footer>
	</body>
</html>
